@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255 255 255;
  --background: 10 10 10;
  --card: 17 17 17;
  --card-foreground: 255 255 255;
  --popover: 17 17 17;
  --popover-foreground: 255 255 255;
  --primary: 99 102 241;
  --primary-foreground: 248 250 252;
  --secondary: 51 65 85;
  --secondary-foreground: 248 250 252;
  --muted: 51 65 85;
  --muted-foreground: 148 163 184;
  --accent: 51 65 85;
  --accent-foreground: 248 250 252;
  --destructive: 239 68 68;
  --destructive-foreground: 248 250 252;
  --border: 51 65 85;
  --input: 51 65 85;
  --ring: 99 102 241;
  --radius: 0.5rem;
}

.dark {
  --foreground: 255 255 255;
  --background: 10 10 10;
  --card: 17 17 17;
  --card-foreground: 255 255 255;
  --popover: 17 17 17;
  --popover-foreground: 255 255 255;
  --primary: 99 102 241;
  --primary-foreground: 248 250 252;
  --secondary: 51 65 85;
  --secondary-foreground: 248 250 252;
  --muted: 51 65 85;
  --muted-foreground: 148 163 184;
  --accent: 51 65 85;
  --accent-foreground: 248 250 252;
  --destructive: 239 68 68;
  --destructive-foreground: 248 250 252;
  --border: 51 65 85;
  --input: 51 65 85;
  --ring: 99 102 241;
  --radius: 0.5rem;
}



.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
};